html {
  scroll-snap-type: y mandatory; /*for snapping scroling functionality*/
}
.App {
  display: grid;
  place-items: center; /*because of grid it will ccenter the content both horizontally and vertically*/
  height: 100vh;
  background-color: black;
}
.app__logo {
  object-fit: contain;
  width: 100%;
  height: 12vh;
}
.app__top > h1 {
  text-align: center;
  color: white;
}
.app__top {
  margin-bottom: -80px;
}
.app__videos {
  position: relative;
  height: 65vh;
  width: 60%;
  background-color: white;
  max-height: 1200px;
  max-width: 350px;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
/* hide scrollbar for chroe,safri,opera */
.app__videos::-webkit-scrollbar {
  display: none;
}
/* hide scrollbar for IE,Edge and forefox */
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
